.user-table {
    margin-top: 16px;
    width: 100%;
  }

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}
  
.example-month-picker .mat-calendar-arrow {
    display: none;
}

.select {
    display:block;
    width:350px;
  }
.button-option-select-2{
    margin-left: 10px;  
}
.button-option-select-3{
    margin-left: 10px;
}

.select-card{
    padding-right: 20%;

}

.logout-div{
    padding-left: 65%;
}