<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>BIENVENIDO A eCOMMERCE </h1>

    <div class="logout-div"> 
        <button mat-icon-button class="buttonLogOut-icon" aria-label="salir" (click)= "logout()">
          Salir
          <mat-icon>login</mat-icon>
        </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <p>Hola {{clientName}} {{clientLastName}}</p>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <mat-card class="select-card" appearance="fill" style="text-align: center">
    <p>Buscar:
      <mat-form-field>
        <mat-label>seleccione busqueda</mat-label>
        <mat-select class="select" [(ngModel)]="optionSelected" (selectionChange)="capture($event.value)"
          matNativeControl required>
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </mat-card>
  <mat-card *ngIf="optionSelected ==='2'" style="text-align: center">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Mes y año</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <button mat-button class="button-option-select-2" mat-raised-button color="primary"
        (click)="searchForStartDate()">Buscar</button>
    </div>
  </mat-card>

  <mat-card *ngIf="optionSelected ==='3'" style="text-align: center">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Mes y año</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="endDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenEndYearHandler($event)"
          (monthSelected)="chosenEndMonthHandler($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <button mat-button class="button-option-select-3" mat-raised-button color="primary"
        (click)="searchForEndDate()">Buscar</button>
    </div>
  </mat-card>

  <mat-card>
    <h1>Tabla de usuarios VIP</h1>
    <table mat-table [dataSource]="clients" class="user-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="startdate">
        <th mat-header-cell *matHeaderCellDef> VIP desde </th>
        <td mat-cell *matCellDef="let element"> {{element.startVIPDate}} </td>
      </ng-container>
      <ng-container matColumnDef="enddate">
        <th mat-header-cell *matHeaderCellDef> VIP hasta </th>
        <td mat-cell *matCellDef="let element"> {{element.endVIPDate}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>