<mat-toolbar color="primary">
  <mat-toolbar-row class ="row-welcome-toolbar">
    <h1>BIENVENIDO A eCOMMERCE </h1>

    <div class="logout-div"> 
      <button mat-icon-button class="buttonLogOut-icon login-icon" aria-label="" (click)="logout()" >
        Salir
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class ="row-name-toolbar">
    <p class ="user-name">Hola {{clientName}} {{clientLastName}}</p>
  </mat-toolbar-row>
</mat-toolbar>

<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <div>
      <ng-template matStepLabel>Comenzando la compra</ng-template>
      <mat-card>
        <div class="fist-message">
          <p>{{message}}</p>
        </div>
        <mat-card-actions class="button-first-step">
          <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </mat-step>
  <mat-step>
    <div>
      <ng-template matStepLabel>Realizando compra</ng-template>

      <mat-card>
        <table mat-table [dataSource]="dataSource" class="item-table">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Precio en $ </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element">
              <input class="input-quantity" name="hola" type="number" min="0" [(ngModel)]="element.quantity"
                placeholder="0">
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="buttons-second-step">
          <button mat-button matStepperPrevious type="button" mat-raised-button color="warn"
            style="margin-left: 10px">Atras</button>
          <button mat-button matStepperNext (click)="filterItems()" [disabled]="!isValid()" type="button"
            mat-raised-button color="primary" style="margin-left: 10px">Siguiente</button>
        </div>
      </mat-card>

    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmación de compra</ng-template>
    <mat-card>
      <mat-card-title class="title">
        <h1>Usted realizará la compra de los siguientes productos:</h1>
      </mat-card-title>
      <table mat-table [dataSource]="itemToBuy" class="item-table">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Precio en $ </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element">{{element.quantity}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <p class="message-price">{{price}}</p>
      <div class="button-third-step">
        <button mat-button matStepperPrevious mat-raised-button color="warn" style="margin-left: 10px">Atras</button>
        <button mat-button (click)="send(stepper)" mat-raised-button color="primary"
          style="margin-left: 10px">Confirmar</button>
        <button mat-button (click)="clear(stepper)" mat-raised-button color="basic"
          style="margin-left: 10px">Cancelar</button>
      </div>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>