.mat-stepper-horizontal {
    margin-top: 8px;
  }

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-form-field {
  margin-top: 16px;
}

.item-table {
  margin-top: 16px;
  width: 100%;

}
.input-quantity{
  width: 50px;
}

.card-first-step{
  position: absolute;
  left: 33%;

}

.button-first-step {
  padding-left: 90%;
}

.buttons-second-step{
  display: inline-block;
  padding-top: 2%;
  padding-left: 74%;
}

.button-third-step{
  display: inline-block;
  padding-top: 2%;
  padding-left: 64%;
}

.message-price{
  padding-top: 2%;
}

.logout-div{
  padding-left: 65%;
}

.row-welcome-toolbar{
  height: 30px;
}
.user-name{
  padding-top: 10px;
}
.row-name-toolbar{
  height: 30px;
}