<mat-toolbar color="primary">
  
  <h1>BIENVENIDO A eCOMMERCE</h1>
</mat-toolbar>

<div class="auth-form">
  <div class="container">
    <mat-card class="card-login">
      <mat-card-header>
        <mat-card-title class="title">
          <h1>Login</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-form-field class="auth-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="password-field" appearance="fill">
        <mat-label>Introduzca su contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" (keyup)="onKey($event)">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error class="error-user-noExist" *ngIf="!userExist">
        usuario inexistente
      </mat-error>
      <mat-card-actions class="button" >
        <button mat-raised-button color="primary" (click)="validate()" [disabled]="!isValid()">LogIn</button>
      </mat-card-actions>

      
    </mat-card>
  </div>
</div>