.auth-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.auth-full-width {
  padding-left: 30%;
  width: 50%;
}

.password-field {
  padding-left: 30%;
  width: 50%;
}

.example-card {
  max-width: 400px;
}

.title {
  padding-bottom: 0px;
  padding-left: 200%;
    color: #1c1aa1;
    font-weight: normal;
    font-size: 11px;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
 }
 .container {
  position: absolute;
  left: 43%;
  top: 43%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.accept-button-row button,
.accept-button-row a {
  margin-right: 8px;
}

.button {
  padding-left: 43%;
}

.error-user-noExist{
  padding-left: 30%;
}